.*.swp
/build/
/image/
/llvm-mingw-20210423-ucrt-ubuntu-18.04-x86_64.tar.xz
/llvm-mingw-20210423-ucrt-ubuntu-18.04-x86_64/
/tests/
/tools/tests/net_4_x_PresentationCore_test.dll
/tools/tests/arraypadding.exe
/tools/tests/marshalansi.exe
/tools/tests/mixedmode-exe.exe
/tools/tests/mixedmode-samedir.exe
/tools/tests/privatepath1.exe
/tools/tests/privatepath2.exe
/tools/tests/processnames.exe
/tools/tests/releasebadptr.exe
/tools/tests/runtimeinterface.exe
/tools/tests/testcslib1.dll
/tools/tests/testcslib2.dll
/tools/tests/webbrowsertest.exe
/tools/tests/wpfclipboard.exe
/tools/tests/xnatest.exe
/user-config.make
/wine-mono-*.*.*-x86.msi
/wine-mono-*.*.*-x86.tar.xz
/wine-mono-*.*.*-src.tar.xz
/wine-mono-*.*.*-tests.zip

