[submodule "mono"]
	path = mono
	url = ../mono.git
[submodule "mono-basic"]
	path = mono-basic
	url = ../mono-basic.git
[submodule "FNA"]
	path = FNA
	url = ../FNA.git
[submodule "FNA.NetStub"]
	path = FNA.NetStub
	url = ../FNA.NetStub.git
[submodule "winforms"]
	path = winforms
	url = git://github.com/madewokherd/winforms.git
