[submodule "mono"]
	path = mono
	url = ../mono
[submodule "mono-basic"]
	path = mono-basic
	url = ../mono-basic
[submodule "FNA"]
	path = FNA
	url = ../FNA
[submodule "FNA.NetStub"]
	path = FNA.NetStub
	url = ../FNA.NetStub
[submodule "winforms"]
	path = winforms
	url = ../winforms
[submodule "winforms-datavisualization"]
	path = winforms-datavisualization
	url = ../winforms-datavisualization
[submodule "wpf"]
	path = wpf
	url = ../wpf
[submodule "monoDX"]
	path = monoDX
	url = ../monoDX
[submodule "vstests"]
	path = vstests
	url = ../wine-mono-vstests
