[submodule "mono"]
	path = mono
	url = ../mono.git
[submodule "mono-basic"]
	path = mono-basic
	url = ../mono-basic.git
[submodule "opentk"]
	path = opentk
	url = ../opentk.git
[submodule "MonoGame"]
	path = MonoGame
	url = ../MonoGame.git
