.*.swp
/build/
/image/
/llvm-mingw-20200325-ubuntu-18.04/
/llvm-mingw-20200325-ubuntu-18.04.tar.xz
/tests/
/tools/tests/arraypadding.exe
/tools/tests/marshalansi.exe
/tools/tests/privatepath1.exe
/tools/tests/privatepath2.exe
/tools/tests/testcslib1.dll
/tools/tests/testcslib2.dll
/tools/tests/webbrowsertest.exe
/tools/tests/xnatest.exe
/user-config.make
/wine-mono-*.*.*-x86.msi
/wine-mono-*.*.*-x86.tar.xz
/wine-mono-*.*.*-src.tar.xz
/wine-mono-*.*.*-tests.zip

