# Directory for build trees and intermediate build files:
# BUILDDIR=$(SRCDIR)/build

# Directory for the runtime:
# IMAGEDIR=$(SRCDIR)/image

# Directory for output files:
# OUTDIR=$(SRCDIR)/output

# Commands:
# MINGW_x86=i686-w64-mingw32
# MINGW_x86_64=x86_64-w64-mingw32
# MINGW_PATH=/opt/mingw/bin # for if mingw tools aren't in the default PATH
# WINE=wine

# Compression:
# COMPRESSOR=bzip2
# COMPRESSED_SUFFIX=bz2

# Set to 0 to use Mono's winforms.
# ENABLE_DOTNET_CORE_WINFORMS=1

# Set to 1 to include debug symbols.
# ENABLE_DEBUG_SYMBOLS=0
