<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestApp.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TestApp.Settings>
            <setting name="SettingBool1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingBool2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingInt1" serializeAs="String">
                <value>0</value>
            </setting>
            <!-- SettingInt2 is not in this file on purpose. -->
            <setting name="SettingString1" serializeAs="String">
                <value />
            </setting>
        </TestApp.Settings>
    </userSettings>
</configuration>